

.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  min-height:100vh;
}

#jumbotron{
  height: 40vh;
}

#test {
  margin-top: 25px;
  text-align: center;
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s; /* Firefox */
  -webkit-animation: fadein 2.5s; /* Safari and Chrome */
  -o-animation: fadein 2.5s; /* Opera */
}
@keyframes fadein {
  0%,100% { opacity: 0 }
  75% { opacity: 1 }
}
@-moz-keyframes fadein { /* Firefox */
  0%,100% { opacity: 0 }
  75% { opacity: 1 }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  0%,100% { opacity: 0 }
  75% { opacity: 1 }
}
@-o-keyframes fadein { /* Opera */
  0%,100% { opacity: 0 }
  75% { opacity: 1 }
}


@keyframes fadeInUp {
  from {
      transform: translate3d(0,0,0)
  }

  to {
      transform: translate3d(0,40px,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,0,0)
  }

  to {
      transform: translate3d(0,40px,0);
      opacity: 1
  }
}

#sticky-top {
  animation-duration: 4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: both
}

/* Footer */

.site-footer
{
  background-color:#26272b;
  padding:0px 0 20px;
  font-size:15px;
  line-height:150%;
  color:#737373;
}
.site-footer p{
  margin-top: 30px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right;
  
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  margin-top:17px;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
/* .social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
} */
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.medium:hover
{
  background-color:#3b5998
}
.social-icons a.github:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.medium:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


